html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
}

#container{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}